{% extends "base.html.twig" %}
{% block title %}
	Marché des Plans - Dernier AChat

{% endblock %}


{% block body %}


	<!--Start breadcrumb area-->
	<section class="breadcrumb-area style2 " style="background-image: url({{asset('new/images/resources/breadcrumb-bg.jpg')}});">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="inner-content-box clearfix">
						<div class="title">
							<h1>Mon Achat Récent<br>
							</h1>
						</div>

					</div>
				</div>
			</div>
		</div>
	</section>
	<!--End breadcrumb area-->

	<section class="cart-area">
		<div class="container">
			<div class="row">
				<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
					<div class="table-outer">
						<table class="cart-table">
							<thead class="cart-header">
								<tr>
									<th>
										Maison
									</th>
									<th>
										Plans
									</th>
									<th>
										Status du Payement
									</th>
									<th>
										Mode de Payement
									</th>

									<th>
										Date de Payement
									</th>

									<th>
										Heure de Payement
									</th>

									<th>
										Actions
									</th>

								</tr>
							</thead>
							<tbody>

								{% set n = 0  %}
								{% for user in users %}
									{% if n >=1 %}
										{% if user.etat == "Confirmer" %}


											<tr>
												<td class="shoping__cart__item">
													<h5>{{ user.plan.getTitre() }}</h5>
												</td>
												<td class="shoping__cart__price">
													{{ user.miniplan.getTitre() }}
												</td>
												<td class="shoping__cart__quantity">
													<span class="badge badge-success">
														{{ user.etat }}
													</span>
												</td>

												<td class="shoping__cart__total">
													{{ user.payement }}
												</td>
												<td class="shoping__cart__total">
													{{ user.getCreatedAt().format('d/m/Y')  }}
												</td>
												<td class="shoping__cart__total">
													{{ user.getCreatedAt().format('h:i:sa')  }}
												</td>


												<td colspan="6" class="shoping__cart__item__close">


													{% for fichier in user.getMiniplan.getFichiers() %}

														<div class="update-cart pull-right">
															<a class=" btn btn-danger" href="{{ asset('/pdf/' ~ fichier.nom) }}" target="_blank">
																Telecharger le Plan

															</a>
														</div>


													{% endfor %}
												</td>
											</tr>

										{% endif %}
									{% endif %}
									{% set n=n+1  %}
								{% endfor %}


							</tbody>
						</table>
						<br>
						<br>
						
								<div class="update-cart pull-left">
								<a class=" btn-one btn-primary" href="{{path('plan_list')}}">
									Revenir vers l'Achat des Plans
								</a>
							</div>
								
								<div class="update-cart pull-right">
								<a class=" btn-one  " href="{{path('listes_mes_achats')}}">
									Voir la Liste de Tous mes Achats
								</a>
							</div>

					</div>
				</div>
			</div>

		</div>

	</section>
{% endblock %}
