{% extends "base.html.twig" %}

{% block title %}
	Marche des Plans - Acceuil

{% endblock %}


{% block body %}

	<!--Main Slider-->
	<section class="main-slider style3">
		<div class="rev_slider_wrapper fullwidthbanner-container" id="rev_slider_one_wrapper" data-source="gallery">
			<div class="rev_slider fullwidthabanner" id="rev_slider_three" data-version="5.4.1">
				<ul>
					<li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1689" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="{{asset('new/images/slides/5.jpg')}}" data-title="Slide Title" data-transition="parallaxvertical">

						<img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{asset('new/images/slides/5.jpg')}}">

						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['800','800','500','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['-145','-100','-100','-90']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content left-slide">
								<div class="big-title" style="color:black">
									Réalisez vos projets de construction n'a jamais été aussi facile
									<br>
								</div>
							</div>
						</div>
						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['800','800','500','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['-15','15','-5','0']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},
																																																																																																																																																																																																																																																																																																																																																                        {"delay":"wait","speed":10000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content left-slide">
								<div class="text"><br></div>
							</div>
						</div>
						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['800','800','700','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['105','90','75','65']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content left-slide">

								<div class="btn btn-danger">
									<a style="color:#fff;" class="html5lightbox play-button" title=" Marché des Plans: Comment ça marche ? " href="https://youtu.be/5rFCc6TbDv0">
										<span class="flaticon-play-button">Voir la Vidéo</span>
									</a>

								</div>

							</div>
						</li>
					</li>

					<li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1687" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="{{asset('new/images/slides/6.jpg')}}" data-title="Slide Title" data-transition="parallaxvertical">

						<img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{asset('new/images/slides/6.jpg')}}">

						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['800','800','500','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['-145','-100','-100','-90']" data-x="['right','right','right','right']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content">
								<div class="big-title" style="color:black">
									Des plans de Maisons qui répondent à tous vos critères de construction
									<br>
								</div>
							</div>
						</div>
						<br><br>
						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['800','800','500','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['-15','15','-5','0']" data-x="['right','right','right','right']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},
																																																																																																																																																																																																																																																																																																																																																                        {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content">
								<div class="text">
									<br></div>
							</div>
						</div>
						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['800','800','700','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['105','90','75','65']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content left-slide">

								<div class="btn btn-danger">
									<a style="color:#fff;" class="html5lightbox play-button" title=" Marché des Plans: Comment ça marche ?" href="https://youtu.be/5rFCc6TbDv0">
										<span class="flaticon-play-button">Voir la Vidéo</span>
									</a>

								</div>

							</div>
						</li>
					</li>
					<li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="{{asset('new/images/slides/7.jpg')}}" data-title="Slide Title" data-transition="parallaxvertical">

						<img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{asset('new/images/slides/7.jpg')}}">

						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['900','800','500','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['-145','-100','-100','-90']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content left-slide">
								<div class="big-title" style="color:black">
									Une Panoplie de choix de plans touts faits et adéquats à tout type de construction<br>
								</div>
							</div>
						</div>
						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['900','800','500','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['-15','15','-5','0']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},
																																																																																																																																																																																																																																																																																																																																																                        {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content left-slide">
								<div class="text"><br>
								</div>
							</div>
						</div>
						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['800','800','700','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['105','90','75','65']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content left-slide">

								<div class="btn btn-danger">
									<a style="color:#fff;" class="html5lightbox play-button" title="Marché des Plans: Comment ça marche ?" href="https://youtu.be/5rFCc6TbDv0">
										<span class="flaticon-play-button">Voir la Vidéo</span>
									</a>

								</div>

							</div>
						</li>
					</li>
					<li data-description="Slide Description" data-easein="default" data-easeout="default" data-fsmasterspeed="1500" data-fsslotamount="7" data-fstransition="fade" data-hideafterloop="0" data-hideslideonmobile="off" data-index="rs-1688" data-masterspeed="default" data-param1="" data-param10="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-rotate="0" data-saveperformance="off" data-slotamount="default" data-thumb="{{asset('new/images/slides/8.jpg')}}" data-title="Slide Title" data-transition="parallaxvertical">

						<img alt="" class="rev-slidebg" data-bgfit="cover" data-bgparallax="10" data-bgposition="center center" data-bgrepeat="no-repeat" data-no-retina="" src="{{asset('new/images/slides/8.jpg')}}">

						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['900','800','500','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['-145','-100','-100','-90']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content left-slide">
								<div class="big-title" style="color:black">
									Construisez la maison de vos rêves avec des plans bien spécifiques<br>
								</div>
							</div>
						</div>
						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['900','800','500','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['-15','15','-5','0']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},
																																																																																																																																																																																																																																																																																																																																																                        {"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content left-slide">
								<div class="text"><br>
								</div>
							</div>
						</div>
						<div class="tp-caption" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingtop="[0,0,0,0]" data-responsive_offset="on" data-type="text" data-height="none" data-width="['800','800','700','400']" data-whitespace="normal" data-hoffset="['15','15','15','15']" data-voffset="['105','90','75','65']" data-x="['left','left','left','left']" data-y="['middle','middle','middle','middle']" data-textalign="['top','top','top','top']" data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":1500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]' style="z-index: 7; white-space: nowrap;">
							<div class="slide-content left-slide">

								<div class="btn btn-danger">
									<a style="color:#fff;" class="html5lightbox play-button" title="Marché des Plans: Comment ça marche ?" href="https://youtu.be/5rFCc6TbDv0">
										<span class="flaticon-play-button">Voir la Vidéo</span>
									</a>

								</div>

							</div>
						</li>
					</li>
				</ul>
			</div>
		</div>
	</section>
	<!--End Main Slider-->


	<!--Start Highlights Area-->
	<section class="highlights-area">
		<div class="container">
			<div
				class="row">
				<!--Start single highlight box-->
				<div class="col-xl-4 col-lg-4">
					<div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1200ms">
						<div class="icon-holder">
							<span class="icon-concept"></span>
						</div>
						<div class="inner-content">
							<div class="text">
								<h3>Une plateforme de vente de plans selon vos besoins</h3>
								<p>Des plans aux conceptions inégalées faits grâce aux soins de nos experts.</p>
							</div>
						</div>
					</div>
				</div>
				<!--End single highlight box-->
				<!--Start single highlight box-->
				<div class="col-xl-4 col-lg-4">
					<div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="200ms" data-wow-duration="1200ms">
						<div class="icon-holder">
							<span class="icon-scheme"></span>
						</div>
						<div class="inner-content">
							<div class="text">
								<h3>Acheter un plan n'a jamais été aussi facile</h3>
								<p>Vous avez la possibilité de payer directement en ligne et d'avoir accès à vos plans par téléchargement et ce d'une manière très simple.</p>
							</div>
						</div>
					</div>
				</div>
				<!--End single highlight box-->
				<!--Start single highlight box-->
				<div class="col-xl-4 col-lg-4">
					<div class="single-highlight-box text-center wow fadeInUp" data-wow-delay="400ms" data-wow-duration="1200ms">
						<div class="icon-holder">
							<span class="icon-cupboard"></span>
						</div>
						<div class="inner-content">
							<div class="text">
								<h3>Contacter Un architecte</h3>
								<p>Contactez-nous pour avoir des conseils auprès de nos architectes qualifiés ou nous confier un projet de réalisation de bâtiment.</p>
							</div>
						</div>
					</div>
				</div>
				<!--End single highlight box-->
			</div>
		</div>
	</section>
	<!--End Highlights Area-->

	<section class="recently-project-area">

		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="sec-title float-left mx-auto text-center">
						<p>Maisons</p>
						<div class="title">Ajoutées
							<span></span>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div
				class="project-carousel owl-carousel owl-theme">
				<!--Start single project style1-->
				{% for plan in plans %}
					<div class="single-project-style1">
						<div class="img-holder" height="500" max-width: "799" min-width: "799">
							{% for image in plan.images |slice(3,1) %}
								<img src="{{ asset('/uploads/' ~ image.nom) }}" width="300" height="350" alt="Awesome Image">
							{% endfor %}
							<div class="overlay-content">
								<div class="inner-content">
									<div class="link-box">
										<a class="btn-one" href="{{ path('show_plan_details',{'id':plan. id}) }}">
											{{plan.titre}}
											<span class="flaticon-next"></span>
										</a>

									</div>
								</div>
							</div>
							<div class="title-box">
								<span style="color:#fff;">#{{plan.type}}</span>

							</div>
						</div>
					</div>
				{% endfor %}
				<!--End single project style1-->

			</div>
		</div>

		<div style="text-align:center;border-radius:60px;">
			<a class=" btn btn-danger" href="{{ path('plan_list') }}">
				Voir Toutes les Maisons

			</a>
		</div>

	</section>

	<section class="recently-project-area" style="margin-top:20px;">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="sec-title float-left mx-auto text-center">
						<p>Maisons</p>
						<div class="title">les Plus Consultées
							<span></span>
						</div>
					</div>

				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div
				class="project-carousel owl-carousel owl-theme">

				<!--Start single project style1-->
				{% set n = 0  %}
				{% for c in consulter %}
					{% if n <=1 %}
						<div class="single-project-style1">
							<div class="img-holder" height="500" max-width: "799" min-width: "799">
								{% for image in c.plans.images |slice(3,1) %}
									<img src="{{ asset('/uploads/' ~ image.nom) }}" width="300" height="350" alt="Awesome Image">
								{% endfor %}
								<div class="overlay-content">
									<div class="inner-content">
										<div class="link-box">
											<a class="btn-one" href="{{ path('show_plan_details',{'id':c.plans. id}) }}">
												{{c.plans.titre}}
												<span class="flaticon-next"></span>
											</a>
										</div>
									</div>
								</div>
								<div class="title-box">
									<span style="color:#fff;">#{{c.plans.type}}</span>

								</div>
							</div>
						</div>
					{% endif %}
					{% set n=n+1  %}
				{% endfor %}
				<!--End single project style1-->

			</div>
		</div>
		<div style="text-align:center;border-radius:60px;">
			<a class=" btn btn-danger" href="{{ path('plan_list') }}">
				Voir Toutes les Maisons

			</a>
		</div>

	</section>


	<section class="recently-project-area" style="margin-top:20px;">
		<div class="container">
			<div class="row">
				<div class="col-xl-12">
					<div class="sec-title float-left mx-auto text-center">
						<p>Maisons</p>
						<div class="title">les Plus Achetées
							<span></span>
						</div>
					</div>


				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div
				class="project-carousel owl-carousel owl-theme">
				<!--Start single project style1-->
				{% set n = 0  %}
				{% for c in plans_les_plus_achater %}
					{% if n <=1 %}
						<div class="single-project-style1">
							<div class="img-holder" height="500" max-width: "799" min-width: "799">
								{% for image in c.plan.images |slice(3,1) %}
									<img src="{{ asset('/uploads/' ~ image.nom) }}" width="300" height="350" alt="Awesome Image">
								{% endfor %}
								<div class="overlay-content">
									<div class="inner-content">
										<div class="link-box">
											<a class="btn-one" href="{{ path('show_plan_details',{'id':c.plan. id}) }}">
												{{c.plan.titre}}
												<span class="flaticon-next"></span>
											</a>
										</div>
									</div>
								</div>
								<div class="title-box">
									<span style="color:#fff;">#{{c.plan.type}}</span>

								</div>
							</div>
						</div>
					{% endif %}
					{% set n=n+1  %}
				{% endfor %}
				<!--End single project style1-->

			</div>
		</div>
		<div style="text-align:center;border-radius:60px;">
			<a class=" btn btn-danger" href="{{ path('plan_list') }}">
				Voir Toutes les Maisons

			</a>
		</div>

	</section>

	<!--Start Brand area-->
	<section class="brand-area">
		<div class="container">
			<div class="sec-title">
				<p>Nos Partenaires</p>
				<div class="title">Plus de
					<span>10 Partenaires</span>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					<ul
						class="brand-items-carousel owl-carousel owl-theme">
						<!--Start Single Brand Item-->
						<li class="single-brand-item wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
							<a href="#"><img src="{{asset('new/images/resources/mdp.png')}}" width="75px" alt=" #"></a>

							<div class="overlay-content">
								<p>Marché des Plans</p>
							</div>
						</li>
						<!--End Single Brand Item-->

					</li>
				</div>
			</div>
		</div>
	</section>

	<section style="background-image:url({{asset('new/images/parallax-background/coming-soon-bg.jpg')}});">
		<div
			class="row fact-counter">
			<!--Start Single Fact Counter-->
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="single-fact-counter wow fadeInLeft" data-wow-delay="100ms" data-wow-duration="1500ms">
					<div class="count-box">
						<h1>
							<span class="timer" data-from="0" data-to="+100" data-speed="5000" data-refresh-interval="50">36</span>


						</h1>
					</div>
					<div class="title">
						<h3>Nombre<br>
							Architectes</h3>
					</div>
				</div>
			</div>
			<!--End Single Fact Counter-->
			<!--Start Single Fact Counter-->
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="single-fact-counter wow fadeInLeft" data-wow-delay="200ms" data-wow-duration="1500ms">
					<div class="count-box">
						<h1>
							<span class="timer" data-from="0" data-to="{{ lesplan|length }}" data-speed="5000" data-refresh-interval="50"></span>
							<img src="images/icon/k.png" alt="">
						</h1>
					</div>
					<div class="title">
						<h3>Nombre de
							<br>
							Plans</h3>
					</div>
				</div>
			</div>
			<!--End Single Fact Counter-->
			<!--Start Single Fact Counter-->
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="single-fact-counter wow fadeInLeft" data-wow-delay="300ms" data-wow-duration="1500ms">
					<div class="count-box">
						<h1>
							<span class="timer" data-from="0" data-to="{{ nbredevente|length }}" data-speed="5000" data-refresh-interval="50"></span>
						</h1>
					</div>
					<div class="title">
						<h3>Nombre de
							<br>
							Ventes</h3>
					</div>
				</div>
			</div>
			<!--End Single Fact Counter-->
			<!--Start Single Fact Counter-->
			<div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
				<div class="single-fact-counter wow fadeInLeft" data-wow-delay="400ms" data-wow-duration="1500ms">
					{% if is_granted('ROLE_ADMIN') %}

						<div class="count-box">
							<h1>
								<span class="timer" data-from="0" data-to="{{ users|length }}" data-speed="5000" data-refresh-interval="50">{{ users|length }}
								</span>
							</h1>
						</div>
						<div class="title">
							<h3>Nombre de
								<br>
								Clients</h3>
						</div>
					{% elseif is_granted('ROLE_ARCHITECTE')  %}

						<div class="count-box">
							<h1>
								<span class="timer" data-from="0" data-to="{{ users|length }}" data-speed="5000" data-refresh-interval="50">{{ users|length }}
								</span>


							</h1>
						</div>
						<div class="title">
							<h3>Nombre de
								<br>
								Clients</h3>
						</div>
					{% elseif is_granted('ROLE_SUPER_ADMIN')  %}

						<div class="count-box">
							<h1>
								<span class="timer" data-from="0" data-to="{{ users|length }}" data-speed="5000" data-refresh-interval="50">{{ users|length }}
								</span>


							</h1>
						</div>
						<div class="title">
							<h3>Nombre de
								<br>
								Clients</h3>
						</div>
					{% elseif is_granted('ROLE_USER')  %}

						<div class="count-box">
							<h1>
								<span class="timer" data-from="0" data-to="{{ users|length }}" data-speed="5000" data-refresh-interval="50">{{ users|length }}
								</span>


							</h1>
						</div>
						<div class="title">
							<h3>Nombre de
								<br>
								Clients</h3>
						</div>

					{% else  %}
						<div class="count-box">
							<h1>
								<span class="timer" data-from="0" data-to="+100" data-speed="5000" data-refresh-interval="50">


									+ 100

								</span>
							</h1>
						</div>
						<div class="title">
							<h3>Nombre de
								<br>
								Clients</h3>
						</div>

					{% endif %}


				</div>
			</div>
			<!--End Single Fact Counter-->
		</div>

	</section>


{% endblock %}
