{% extends "Partie_admin/Shared/base.html.twig" %}

{% block title %}
    Listes de mes Achats
            
        
    
{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block body %}

    <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">
            Mes  Plans Achetés          
                                                                                                        
                                                                                            
                                                                                
                                                                    
                                                        
                                            
                                
                    
        </h4>
        <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">

                        {# <a class="btn btn-cyan" href="{{ path('plans_new') }}">
                            Create new
                                                                                                                                        
                                                                                                            
                                                                                
                                                    
                        </a> #}

                    </li>

                </ol>
            </nav>
        </div>
    </div>
</div></div><div class="container-fluid">

<div class="row">
    <div class="col-md-12">
        <div class="card">

        <div class="card">
        <div class="card-body">


            <div class="table-responsive">

        <table id="zero_config" class="table table-striped table-bordered">
        <thead>
                    <tr>
                        <th>
                            Maison                                                                                       
                                                                                                                                            
                                                                                                            
                                                                                
                                                    
                        </th>

                        <th>
                            Plans                                                                                       
                                                                                                                                            
                                                                                                            
                                                                                
                                                    
                        </th>
                       
                        <th>
                            Status                                                      
                                                                                                                                            
                                                                                                            
                                                                                
                                                    
                        </th>
                        <th>
                            Methode de Payement                                                      
                                                                                                                                            
                                                                                                            
                                                                                
                                                    
                        </th>
                        <th>
                            Date 
                                                                                                                                                                            
                                                                                                                                            
                                                                                                            
                                                                                
                                                    
                        </th>
                         <th>
                            Heure
                                                                                                                                                                            
                                                                                                                                            
                                                                                                            
                                                                                
                                                    
                        </th>

                        <th>
                            Action
                                                                                                                                                                            
                                                                                                                                            
                                                                                                            
                                                                                
                                                    
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                        {# {% if user.etat == "confirmer" %} #}

                        <tr>
                            <td>
                                {{ user.plan.getTitre() }}

                            </td>

                            <td>

                                {{ user.miniplan.getTitre() }}

                            </td>

                            <td>
                                {{ user.etat }}
                            </td>


                            <td>
                                {{ user.payement }}
                            </td>
                            <td>
                                {{ user.getCreatedAt().format('d/m/Y') }}
                            </td>
                             <td>
                                {{ user.getCreatedAt().format('h:i:sa') }}
                            </td>

                            <td>
                                {# <a class="btn btn-primary" href="">
                                    show                                                                   
                                                                                                            
                                                                    
                                </a>
                                #}

                            {% if app.request.attributes.get('_route') == 'listes_achats_client'  %}

                                {% if user.etat == "Confirmé" %}

                                        {% if app.user.id != user.miniplan.getUser().getId() %}

                                        
                                                <a class="btn btn-primary" href="{{ path('envoyer_message' ,{'id':user.miniplan. id}) }}"> Contacter L'architecte                                                                    
                                                                                            
                                                                                        
                                            </a>

                                        {% endif %}
                                {% endif %}

                            {% endif %}


                                {% if user.etat == "Confirmé" %}

                                    
                               
                                        {% for fichier in user.getMiniplan.getFichiers() %}
                                            <a class="btn btn-success" href="{{ asset('/pdf/' ~ fichier.nom) }}">
                                                Telecharger le Plan
                                                                                        
                                            </a>
                                        {% endfor %}

                                {% endif %}

                            </td>

                        </tr>

                    {# {% endif %} #}

                        {% else %}
                        <tr>
                            <td colspan="7">
                                Vous n'avez effectuez aucun achat de plan                                                                      
                                                                                            
                                                            
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>

            </table>

        </div>
        </div>
        </div>
    </div>
    </div>
</div></div>{% block javascripts %}
{% endblock %}{% endblock %}