{% extends "Partie_admin/Shared/base.html.twig" %}
{% block title %}
	Marché des Plans - Administration: Tableau de bord

{% endblock %}
{% block body %}
	{% if is_granted('ROLE_ARCHITECTE') %}
		<div class="col-12 d-flex no-block align-items-center">
			<h4 class="page-title">
				Panneau d'Administration
			</h4>
			<div class="ml-auto text-right">
				<nav aria-label="breadcrumb">
					<ol class="breadcrumb"></ol>
				</nav>
			</div>
		</div>
	</div>
</div><!-- ============================================================== --><!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
	<div class="container-fluid"> <!-- ============================================================== -->
	<!-- Sales Cards  -->
	<!-- ============================================================== -->


		<div class="row"> <div class="col-md-12">
			<div class="card">
				<div class="card-body">
					<div class="d-md-flex align-items-center"></div>
					<div class="row">
						<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-9">
											<div class="d-flex align-items-center align-self-start"></div>
										</div>
										<div class="col-3">
											<div class="icon icon-box-success "></div>
										</div>
									</div>
									<h4 class="text-muted font-weight-normal">
										{% if is_granted('ROLE_ADMIN') %}
											<div class="box bg-success text-center">
												<h1 class="font-light text-white">
													<i class="fa fa-user"></i>
												</h1>
												<h6 class="text-white">
													<font style="vertical-align: inherit;">
														<font style="vertical-align: inherit;">Nombre d'Utilisateurs
															<br>
															<span class="badge badge-danger">{{ users|length }}
																Utilisateurs</span>
														</font>
													</font>
												</h6>
											</div>


										{% else %}
											users

										{% endif %}
									</h4>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 grid-margin stretch-card-center">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-9">
											<div class="d-flex align-items-center align-self-start"></div>
										</div>
										<div class="col-3">
											<div class="icon icon-box-success"></div>
										</div>
									</div>
									<h4 class="text-muted font-weight-normal">
										{% if is_granted('ROLE_ADMIN') %}

											<div class="box bg-warning text-center">
												<h1 class="font-light text-white">
													<img src="{{asset('new/images/resources/home.png')}}" width="50px"/>
												</h1>
												<h6 class="text-white">
													<font style="vertical-align: inherit;">
														<font style="vertical-align: inherit;">
															Nombre de Plans
															<br>
															<span class="badge badge-danger">{{ lesplan|length }}
																Plans</span>
														</font>
													</font>
												</h6>
											</div>

										{% elseif is_granted('ROLE_ARCHITECTE') %}

											<div class="box bg-warning text-center">
												<h1 class="font-light text-white">
													<img src="{{asset('new/images/resources/home.png')}}" width="50px"/>
												</h1>
												<h6 class="text-white">
													<font style="vertical-align: inherit;">
														<font style="vertical-align: inherit;">
															Nombre de Plans
															<br>
															<span class="badge badge-danger">{{ lesplan|length }}
																Plans</span>
														</font>
													</font>
												</h6>
											</div>


										{% else %}
											users

										{% endif %}
									</h4>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-9">
											<div class="d-flex align-items-center align-self-start"></div>
										</div>
										<div class="col-3">
											<div class="icon icon-box-danger"></div>
										</div>
									</div>
									<div class="box bg-cyan text-center">
										<h1 class="font-light text-white">
											<img src="{{asset('new/images/resources/money.png')}}" width="50px"/>
										</h1>
										<h6 class="text-white">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">Total des Fonds<br>
													<span class="badge badge-danger">
														{{ fondtotal }}
														XOF</span>
												</font>
											</font>
										</h6>
									</div>
									<h4 class="text-muted font-weight-normal"></h4>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-9">
											<div class="d-flex align-items-center align-self-start">

												<p class="text-success ms-2 mb-0 font-weight-medium"></p>
											</div>
										</div>
										<div class="col-3">
											<div class="icon icon-box-success "></div>
										</div>
									</div>
									<div class="box bg-info text-center">
										<h1 class="font-light text-white">
											<img src="{{asset('new/images/resources/money.png')}}" width="50px"/>
										</h1>
										<h6 class="text-white">
											<font style="vertical-align: inherit;">
												<font style="vertical-align: inherit;">
													Nombre d'Achat
													<br>
													<span class="badge badge-danger">{{nbredevente}}
														Achats</span>
												</font>
											</font>
										</h6>
									</div>
								</div>

							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-9">
											<div class="d-flex align-items-center align-self-start">
												<h3 class="mb-0"></h3>
												<p class="text-success ms-2 mb-0 font-weight-medium"></p>
											</div>
										</div>
										<div class="col-3">
											<div class="icon icon-box-success "></div>
										</div>
									</div>
									<h4 class="text-muted font-weight-normal">
										{% if is_granted('ROLE_ADMIN') %}
											<div class="box bg-info text-center">
												<h1 class="font-light text-white">
													<i class="fa fa-user"></i>
												</h1>
												<h6 class="text-white">
													<font style="vertical-align: inherit;">Connecté(e) comme
														<br>
														<font style="vertical-align: inherit;">
															<span class="badge badge-danger">ADMIN</span>
														</font>
													</font>
												</h6>
											</div>

										{% elseif is_granted('ROLE_ARCHITECTE') %}


											<div class="box bg-info text-center">
												<h1 class="font-light text-white">
													<i class="fa fa-user"></i>
												</h1>
												<h6 class="text-white">
													<font style="vertical-align: inherit;">Connecté(e) comme
														<br>
														<font style="vertical-align: inherit;">
															<span class="badge badge-danger">ARCHITECTE</span>
														</font>
													</font>
												</h6>
											</div>
										{% else %}
											users

										{% endif %}
									</h4>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-9">
											<div class="d-flex align-items-center align-self-start">
												<h3 class="mb-0"></h3>
												<p class="text-success ms-2 mb-0 font-weight-medium"></p>
											</div>
										</div>
										<div class="col-3">
											<div class="icon icon-box-success"></div>
										</div>
									</div>
									<h4 class="text-muted font-weight-normal">
										{% if is_granted('ROLE_ADMIN') %}

											<div class="box bg-info text-center">
												<h1 class="font-light text-white">
													<i class="fa fa-user"></i>
												</h1>
												<h6 class="text-white">
													<font style="vertical-align: inherit;">
														<font style="vertical-align: inherit;">Rôle
															<br>
															<span class="badge badge-danger">ADMIN</span>
														</font>
													</font>
												</h6>
											</div>
										{% elseif is_granted('ROLE_ARCHITECTE') %}

											<div class="box bg-info text-center">
												<h1 class="font-light text-white">
													<i class="fa fa-user"></i>
												</h1>
												<h6 class="text-white">
													<font style="vertical-align: inherit;">
														<font style="vertical-align: inherit;">Rôle
															<br>
															<span class="badge badge-danger">ARCHITECTE</span>
														</font>
													</font>
												</h6>
											</div>
										{% else %}
											users

										{% endif %}
									</h4>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-9">
											<div class="d-flex align-items-center align-self-start">
												<h3 class="mb-0"></h3>
												<p class="text-danger ms-2 mb-0 font-weight-medium"></p>
											</div>
										</div>
										<div class="col-3">
											<div class="icon icon-box-danger"></div>
										</div>
									</div>
									<h4 class="text-muted font-weight-normal"></h4>
								</div>
							</div>
						</div>
						<div class="col-xl-3 col-sm-6 grid-margin stretch-card">
							<div class="card">
								<div class="card-body">
									<div class="row">
										<div class="col-9">
											<div class="d-flex align-items-center align-self-start">
												<h3 class="mb-0"></h3>
												<p class="text-success ms-2 mb-0 font-weight-medium"></p>
											</div>
										</div>
										<div class="col-3">
											<div class="icon icon-box-success "></div>
										</div>
									</div>
									<h4 class="text-muted font-weight-normal"></h4>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div><!-- ============================================================== --><!-- Sales chart -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Sales chart -->
		<!-- ============================================================== -->
		<!-- ============================================================== -->
		<!-- Recent comment and chats -->
		<!-- ============================================================== -->
	{% endif %}
	{# <div class="box bg-warning text-center">
				<h1 class="font-light text-white">
					<i class="mdi mdi-collage"></i>
				</h1>
				<h6 class="text-white">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Widget</font>
					</font>
				</h6>
			</div>
		
			<div class="box bg-cyan text-center">
				<h1 class="font-light text-white">
					<i class="mdi mdi-view-dashboard"></i>
				</h1>
				<h6 class="text-white">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Tableau de bord</font>
					</font>
				</h6>
			</div>
		
		
			<div class="box bg-info text-center">
				<h1 class="font-light text-white">
					<i class="mdi mdi-relative-scale"></i>
				</h1>
				<h6 class="text-white">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;">Boutons</font>
					</font>
				</h6>
			</div> #}

{% endblock %}
