{% extends "Partie_admin/Shared/base.html.twig" %}

{% block title %}
     Marché des Plans  Administration -- Listes des retraits
            
        
    
{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block body %}

    <div class="col-12 d-flex no-block align-items-center">
        <h4 class="page-title">
           Liste des Demandes de Retraits                                                                
        </h4>
        <div class="ml-auto text-right">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">

                        {# <a class="btn btn-cyan" href="{{ path('plans_new') }}">
                            Create new
                                
                        </a> #}

                    </li>

                </ol>
            </nav>
        </div>
    </div>
</div></div><div class="container-fluid">

<div class="row">
    <div class="col-md-12">
        <div class="card">

        <div class="card">
        <div class="card-body">


            <div class="table-responsive">

        <table id="zero_config" class="table table-striped table-bordered">
        <thead>
                    <tr>
                        <th>
                            Client                                                                                       
                                    
                        </th>

                        <th>
                            Prix                                                                                       
                                    
                        </th>
                       
                        <th>
                            commission                                                      
                                    
                        </th>
                        <th>
                            Reste                                                      
                                    
                        </th>
                        <th>
                            Telephone 
                                     
                        </th>

                        <th>
                            Etat 
                                     
                        </th>
                        <th>
                            Date de Demande  
                                     
                        </th>

                        <th>
                            Heure de Confirmation  
                                     
                        </th>
                        <th>
                            Action
                                     
                        </th>

                    </tr>
                </thead>
                <tbody>
                    {% for demande in demandes %}
                        {# {% if user.etat == "confirmer" %} #}

                        <tr>
                            <td>
                                {{ demande.user }}

                            </td>

                            <td>

                                {{ demande.prix }}

                            </td>

                            <td>
                                {{ demande.commission }}
                            </td>


                            <td>
                                {{ demande.reste }}
                            </td>

                            <td>
                                {{ demande.tel }}
                            </td>

                            <td>
                                {{ demande.etat }}
                            </td>
                            <td>
                                {{ demande.getCreatedAt().format('d/m/Y') }}
                            </td>
                             <td>
                                {{ demande.getCreatedAt().format('h:i:sa') }}
                            </td>

                            <td>
                                {% if demande.getUpdatedAt() == null %}

                                pas encore validé

                                {% else %}

                                {{ demande.getUpdatedAt().format('d/m/Y') }}
                                {{ demande.getUpdatedAt().format('h:i:sa') }}


                            {% endif %}

                            </td>

                            <td>
                               
                                {% if demande.getEtat() == "En attente" %}

                                    <form action="{{ path('admin_valider_une_demande') }}" method="POST"> 
                                        <input class="form-control" id="id_demande" name="id_demande" value="{{ demande.id }}" hidden required>
                                        <input class="form-control" id="date_demande" name="date_demande" value="{{ 'now'|date('d - m -Y') }} "  hidden required>
                                        
                                          
                                            <button type="submit" class="btn btn-primary">
                                               confirmer
                                            </button>

                                    </form>  
                                    
                                {% endif %}
                                    

                                <a href="https://paygateglobal.com/v1/page?token=1234&amount=300&description=test&identifier=10" target="_blank">
                                          
                                            <button class="btn btn-success">
                                                Valider la Demande
                                            </button>
                                         </a>

                                

                            </td>

                        </tr>

                    
                    {% endfor %}

                </tbody>

            </table>

        </div>
        </div>
        </div>
    </div>
    </div>
</div></div>{% block javascripts %}
{% endblock %}{% endblock %}